.header {
    background: $color-purple_bg--70;
    padding: 20px 75px;
    @media (max-width: 576px) {
        padding: 20px 50px;
    }
    & .nav {
        width: 100%;
        &_logo {
            width: 20%;
            @media (max-width: 767px) {
                width: 40%;
            }
        }
        &__list {
            width: 70%;
            @media (max-width: 992px) {
                width: 75%;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
        &_hamb {
            display: none;
            border-top: 1.5px solid $color-turqouise_m;
            width: 100%;
            margin-top: 20px;
            padding-top: 10px;
            @media (min-width: 769px) {
                display: none !important;
            }
        }
        &__item {
            font-size: calc(8vw / 6);
            text-transform: uppercase;
            @media (max-width: 992px) {
                font-size: calc(9vw / 6);
            }
            @media (max-width: 767px) {
                font-size: calc(15vw / 6);
                padding: 10px 0;
            }
            @media (max-width: 576px) {
                font-size: calc(20vw / 6);
            }
            & a {
                color: $color-grey_m;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $color-whitish_m;
                }
                &.active {
                    color: $color-turqouise_m;
                }
            }
        }
        &_btn {
            display: none;
            & i {
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                cursor: pointer;
                & i {
                    color: $color-whitish_m;
                    border-color: $color-whitish_m;
                }
            }
            @media (max-width: 767px) {
                display: block;
                width: 50px;
            }
        }
    }
}