* {
    margin-block-start: 0em;
    margin-block-end: 0em;
    box-sizing: border-box;
}

html {
    font-family: $font-family_roboto;
    font-size: 20px;
    color: $color-turqouise-m;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

body {
    background-image: linear-gradient(to right bottom, #422084, #4d2292, #5924a0, #6626ae, #7327bc, #6247d5, #4760eb, #0076ff, #0097ff, #00abe4, #00b8af, #1fbf7c);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: $font-family_stardos-stencil;
    text-shadow: $color-dark-turqouise-m 2px -1px;
    margin: 25px 0 10px;
}

h1 {
    font-size: 28px;
    text-transform: uppercase;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}

h2 {
    font-size: 24px;
    @media (max-width: 767px) {
        font-size: 18px;
    }
}

h3 {
    font-size: 20px;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

p {
    margin-bottom: 10px;
}

ul {
    padding-inline-start: 0;
    list-style: none;
    &.row {
        padding-inline-start: 20px;
    }
    &.list-style {
        list-style: disc;
        padding-inline-start: 20px;
    }
}

img {
    width: 100%;
    height: auto;
}

a {
    color: $color-turqouise-m;
    text-decoration: none;
    &.underline {
        text-decoration: underline;
    }
}

i {
    color: $color-grey_m;
    border: 3px solid $color-grey_m;
    border-radius: 50px;
    padding: 15px;
    &.no-borders {
        border: none;
        padding: 5px;
    }
}

.filter {
    margin: 25px 0 50px;
    &__section {
        margin-bottom: 20px;
    }
    &__label {
        padding-right: 20px;
    }
    &__item {
        font-size: 16px;
        background-color: $color-grey_m;
        border: 3px solid $color-dark-turqouise-m;
        border-radius: 25px;
        padding: 10px 20px;
        margin-right: 25px;
        & i {
            color: #000;
        }
    }
    &__button {
        font-size: 16px;
        background-color: $color-grey_m;
        border: 3px solid $color-dark-turqouise-m;
        border-radius: 25px;
        padding: 10px 20px;
        margin-right: 25px;
        & i {
            color: #000;
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $color-whitish_m;
        }
    }
    & option {
        background-color: $color-grey_m;
    }
}

.stroke {
    width: 100%;
    height: 3px;
    margin: 0;
    background-color: $color-turqouise-m;
}

.page {
    padding: 25px 0 75px;
    @media (max-width: 767px) {
        padding: 25px 0;
    }
    background-color: $color-black_bg--50;
    & .card {
        background-color: $color-black_bg--50;
        color: $color-whitish_m;
        border: 4px solid $color-dark-turqouise-m;
        border-radius: 25px;
        margin-bottom: 32px;
        & h2 {
            color: $color-turqouise-m;
        }
        &__image {
            width: 100%;
            border-radius: 21px 21px 0 0;
            padding-bottom: 10px;
        }
        &__info {
            padding-bottom: 10px;
            margin: 5px 10px;
            & i {
                color: $color-whitish_m;
                margin-right: 5px;
            }
        }
        & a {
            color: $color-whitish_m;
        }
    }
}