* {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

html {
    font-family: $font-family_roboto;
    font-size: 20px;
    color: $color-turqouise-m;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

body {
    background-image: linear-gradient(to right bottom, #422084, #4d2292, #5924a0, #6626ae, #7327bc, #6247d5, #4760eb, #0076ff, #0097ff, #00abe4, #00b8af, #1fbf7c);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: $font-family_stardos-stencil;
    text-shadow: $color-dark-turqouise-m 4px -3px;
    margin: 25px 0 10px;
    @media (max-width: 768px) {
        text-shadow: $color-dark-turqouise-m 3px -2px;
    }
}

h1 {
    font-size: 28px;
    text-transform: uppercase;
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

h2 {
    font-size: 24px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

h3 {
    font-size: 20px;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

p {
    margin-bottom: 10px;
}

ul {
    padding-inline-start: 0;
    list-style: none;
    &.row {
        padding-inline-start: 20px;
    }
    &.list-style {
        list-style: disc;
        padding-inline-start: 20px;
    }
}

img {
    width: 100%;
    height: auto;
}

a {
    color: $color-turqouise-m;
    text-decoration: none;
    &.underline {
        text-decoration: underline;
    }
}

i {
    color: $color-grey_m;
    border: 3px solid $color-grey_m;
    border-radius: 50px;
    padding: 15px;
    &.no-borders {
        border: none;
    }
}

.stroke {
    width: 100%;
    height: 3px;
    margin: 0;
    background-color: $color-turqouise-m;
}