body {
    background-image: linear-gradient(to right bottom, #422084, #4d2292, #5924a0, #6626ae, #7327bc, #6247d5, #4760eb, #0076ff, #0097ff, #00abe4, #00b8af, #1fbf7c);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin: 0;
    padding: 0;
}