.home {
    &__opleiding, &__team, &__werkplekleren {
        position: relative;
        &-image {
            position: relative;
        }
        &-button {
            background-color: $color-black_bg--50;
            padding: 15px 25px;
            border: 4px solid $color-dark-turqouise_m;
            border-radius: 25px;
            position: absolute;
            top: 65%;
            transition: all 0.3s ease-in-out;
            &:hover {
                border-color: $color-green_m;
            }
            & i {
                color: $color-turqouise_m;
            }
        }
    }
    &__opleiding {
        margin-bottom: 75px;
        & h1 {
            font-size: calc(3vw);
            text-shadow: $color-dark-turqouise_m 3px -4px;
            text-align: center;
            position: absolute;
            top: 10%;
            left: 18%;
            @media (max-width: 576px) {
                font-size: calc(9vw/2);
                top: 5%;
                left: 14%;
            }
        }
        &-button {
            left: 39%;
            @media (max-width: 767px) {
                left: 33%;
            }
            @media (max-width: 576px) {
                left: 30%;
            }
        }
    }
    &__team {
        margin-bottom: 75px;
        & h1 {
            text-align: center;
        }
        &-image {
            border: 4px solid $color-dark-turqouise_m;
            border-radius: 25px;
            width: 75%;
            margin: 0 12.5%;
            @media (max-width: 767px) {
                width: 100%;
                margin: 0;
            }
        }
        &-button {
            top: 70%;
            left: 36%;
            @media (max-width: 767px) {
                left: 28%;
            }
            @media (max-width: 576px) {
                left: 25%;
            }
        }
    }
    &__portfolio {
        margin-bottom: 100px;
        & > a {
            color: $color-whitish_m;
            text-decoration: underline;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $color-turqouise_m;
            }
        }
    }
    &__nieuws {
        margin-bottom: 100px;
        & .posts-list {
            margin-top: 0;
        }
        & > a {
            color: $color-whitish_m;
            text-decoration: underline;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $color-turqouise_m;
            }
        }
    }
    &__werkplekleren {
        & h2 {
            font-size: calc(2vw);
            color: $color-whitish_m;
            background-color: $color-black_bg--50;
            text-shadow: none;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            top: 20%;
            left: 0;
            @media (max-width: 576px) {
                font-size: calc(7vw/2);
                top: 7%;
            }
        }
        &-button {
            left: 36%;
            @media (max-width: 767px) {
                left: 26%;
            }
            @media (max-width: 576px) {
                left: 23%;
            }
        }
    }
    &__contact {
        &-button {
            background-color: $color-black_bg--50;
            width: fit-content;
            margin: 0 auto;
            margin-top: 75px;
            padding: 25px 50px;
            border: 4px solid $color-dark-turqouise_m;
            border-radius: 25px;
            transition: all 0.3s ease-in-out;
            &:hover {
                border-color: $color-green_m;
            }
            @media (max-width: 576px) {
                margin-top: 50px;
            }
        }
    }
}